<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Login</title>
    <script>
        $(document).ready(function(){
            $("#btn1").click(function(){
                var str = $("#username").val();
                var str2 = $("#password").val();
                alert("userName: "+str+"\n"+"password: "+str2);
            });

        });
    </script>
</head>
<body>
<form>
    <label for="username">username:</label>
    <input type="text" id="username" name="username"><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password"><br><br>
    <button id="btn1">login</button>
</form>
</body>
</html>